.header {
    background-image: linear-gradient(to right, rgb(129, 16, 129), rgb(33, 33, 165));
    text-align: center;
    color: white;
}



.data {
    border: 2px solid black;
    padding-right: 40px;
 
}

.forecast {
    justify-content: space-between;
}

.card {
    border: 2px solid black !important;
    display: inline-block;
    height: 250px;
    width: 200px;
    margin: 5px;
    border-radius: 10px !important;
    padding: 10px, 10px, 10px, 10px;
    background-color: slategrey !important;
}

