.header {
    background-color: blue;
    text-align: center;
}

.current-city {
    color: blue;
}

.data {
    border: 2px solid black;
    padding-right: 40px;
 
}

.row {
    margin-right: 10px;
}

.forecast {
    justify-content: space-between;
}

.card {
    border: 2px solid black;
    display: inline-block;
    height: 250px;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
    padding: 10px, 10px, 10px, 10px;
}